extends layout

block content
	br
	.row
		.col.s12
			h5 Login Form
			
			form.col.s12(action="/users/login" method="post")
				.row
					.input-field.col.s3
						input#username.validate(name='username' type='text')
						label(for='username') User Name
				.row
					.input-field.col.s3
						input#password.validate(name='password' type='password')
						label(for='password') Password
				.row
					.col.s3
							button.btn.waves-effect.waves-light(type='submit') Submit