@import url('https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i');
body {
	.brand-logo {
		font-family: 'Tinos', serif;
		font-weight: 700;
		font-size: 2em;
		font-style: italic;
	}
	#newsFeed {
		padding: 0 2em;
		h1 {
			font-family: 'Tinos', serif;
			font-weight: 700;
			font-size: 2em;
		}
		h3 {
			font-family: 'Tinos', serif;
			font-weight: 400;
			font-size: 1.5em;
		}
		h4 {
			font-family: 'Tinos', serif;
			font-weight: 400;
			font-size: 1em;
		}
		img {
			max-width: 100%;
		}
	}
	.newsArticle {
		margin: 2em 0;
	}
}
