extends layout

block content
  h3= title
  p Welcome to #{title}
  .row#log
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/materialize/dist/js/materialize.min.js")
  script(src="js/script.js")
