body {
  nav {
    img {
      width: 40px;
      margin: 0.5em;
    }
  }

  .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 90vh;
  }

  #scroll-container {
    // height: 80vh;
    -webkit-box-flex: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: auto;

    .row {
      margin: 20px 0 0;
    }

    .avatar {
      width: 3em;
      border-radius: 50%;
    }
  }

  .msg {
    p {
      max-width: 70%;
      margin: 0 1em;
      padding: 1em;
      line-height: 1.5em;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
  }

  .user-msg {
    p {
      border-right: 3px solid teal;
    }
  }

  .bot-msg {
    p {
      border-left: 3px solid teal;
    }
  }

  .input-container{
    #submitButton{
      margin-top: 1em;
      margin-left: .5em;
    }
  }
}
