doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet',href='/bower_components/materialize/dist/css/materialize.min.css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel='stylesheet',href='/css/style.css')

	body
		nav
			.nav-wrapper
				a.brand-logo(href='#') Dashboard
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='/') Dashboard
					li
						a(href='badges.html') Login
					li
						a(href='/users/register') Register
					li
						a(href='collapsible.html') Logout
		
		block content
	
	hr
	
	script(src="/bower_components/jquery/dist/jquery.min.js")
	script(src="/bower_components/materialize/dist/js/materialize.min.js")
	script(src="/js/script.js")

